/* Her bliver margin fjernet fra alt html og alle body elementer, således at alle sider går helt ud til kanten */
html, body {
	margin: 0;
}

.grid {
	/* Dette er blot nogle tekstændringer som ikke bliver en del af det endelige produkt, men kun er her for at vise teksten ordentligt i eksemplet */
	text-align: center;
	font-size: 2vw;
	color: white;
	
	/* Her defineres den div med classen .grid til at være et grid som består af 3 kolonner og 3 rækker. Ved kolonnerne bliver der brugt en unit kaldet fr som står for fraction, altså dele, dvs. at 1 fr vil svare til 1 del af siden. Ved rækkerne bliver der brugt en unit kaldet vh som står for viewport height, således at den tilpasser sig vinduets højde */
	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	grid-template-rows: 15vh 50vh 35vh;
}

.logo {
	background-color: orangered;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.search {
	background-color: coral;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.end {
	background-color: lightsalmon;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.functions {
	background-color: cadetblue;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.shoppinglist {
	background-color: darkorange;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.list {
	background-color: grey;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
}

.information {
	background-color: dimgrey;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}
