html, body {
	margin: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	grid-template-row: 15vh 50vh 35vh;
}

.box1 {
	text-align: center;
	background-color: blue;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.box2 {
	background-color: red;
	grid-column-start: 2;
	grid-column-end: 3;
}

.box3 {
	background-color: yellow;
	grid-column-start: 3;
	grid-column-end: 4;
}
