@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700|Roboto+Mono:300,500&subset=latin-ext');

/* grid-area: rowStart/columnStart/rowEnd/columnEnd; */

html, body {
	margin: 0;
}

.grid, .grid #aninput {
	text-align: center;
	font-size: 1.5vw;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;

	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	grid-template-rows: 15vh 50vh 35vh;
}

.pingrid {
	display: grid;
	grid-template-columns: 1fr 9fr 1fr;
	grid-template-rows: 30vh 5vh 65vh;
	background-color: #303030;
	font-family: 'Roboto+Mono', sans-serif;
	font-weight: 300;
}

.pingrid input {
	height: 20vh;
	width: 10vw;
	border-radius: 2vw;
	margin: 1vh 0.5vw;
	text-align: center;
	font-size: 10vh;
	color: orange;
}

.pingrid form {
	grid-area: 2/2/3/3;
	display: inline-block;
    text-align: center;
}

.loginfail {
	grid-area: 3/2/4/3;
	color: red;
	font-size: 2vw;
	font-weight: 500;
	padding-top: 20vh;
	text-align: center;
	margin: 0 auto;
}

.interactive {
	border-radius: 5vw;
	background-color: #606060;
	color: white;
	border-style: none;
	box-shadow: 0.2vw 0.2vw 0.25vw 0vw rgba(00, 00, 00, 0.5); 
	outline: none;
	/* box-shadow: 4px 4px 5px 0px rgba(80, 80, 80, 0.5); 
	text-shadow: 4px 4px 5px rgba(80, 80, 80, 0.5); */
}

.interactive:hover {
	background-color: #808080;
}

.b {
	font-family: 'Roboto+Mono', sans-serif;
	font-weight: 500;
}

.b:active {
  background-color: #808080;
  box-shadow: 0.1vw 0.1vw 0.25vw 0vw rgba(00, 00, 00, 0.5);
  transform: translateY(0.4vh);
}

::placeholder {
	color: white;
}

::-webkit-scrollbar {
	width: 1.2vw;
}

::-webkit-scrollbar-track {
    background: #505050;
}

::-webkit-scrollbar-track-piece {
	width: 30px;
}

::-webkit-scrollbar-thumb {
    background: #707070;
	border-radius: 10px;
	-webkit-box-shadow: inset 0vw 0vw 0vw 0.28vw #505050;
}

::-webkit-scrollbar-thumb:hover {
    background: #757575; 
}

.logo {
	background-color: #303030;
	grid-area: 1/1/2/2;
}

#imglogo {
	margin-top: 3vh;
	width: 35%;
    height: auto;
}

.search {
	background-color: #303030;
	grid-area: 1/2/2/3;
}

#searchfield {
	font-size: 1.3vw;
	font-weight: 300;
	width: 38vw;
	margin: 2vh 0 1.2vh 0;
	padding: 0.8vh 1vw 0.8vh 2vw;
}

#cateopt {
	width: 32vw;
	font-size: 1.3vw;
	font-weight: 300;
	text-align-last: center;
}

.end {
	background-color: #303030;
	grid-area: 1/3/2/4;
	font-weight: 300;
}

#endbutton {
	font-size: 1.5vw;
	padding: 0.5vh 3vw;
	margin: 2vh auto 0;
}

.person {
	margin-top: 2vh;
	font-size: 1.5vw;
}

.person img {
	width: 4%;
    height: auto;
	margin-right: 0.5vw;
}

.functions {
	background-color: #303030;
	grid-area: 2/1/3/2;
	position: relative;
}

.functions button {
	padding: 1vh 1vw;
	margin: 2vh 1vw;
	font-size: 1.5vw;
	font-weight: 500;
	text-transform: uppercase;
	width: 10vw;
}

.information select, button {
	width: 16vw;
	font-size: 1vw;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	text-align-last: center;
	padding: 1vh 1vw;
	margin: 1vh 1vw;
}

#addkomp, #addkomp * {
	display: none;
}

.information select, #addcancel {
	display: none;
}

.infotekst {
	font-family: 'Roboto+Mono', sans-serif;
	font-weight: 500;
	font-size: 2.5vw;
	border-bottom: #303030 0.1vw solid;
	display: inline-block;
	padding: 1vh 2vw;	
}


#addbutt {
	margin-top: 5vh;
}

#chosenbutt {
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 1vw;
}

.addhidingclass {
	display: none;
	margin: 0;
}

.shoppinglist {
	background-color: #404040;
	grid-area: 3/1/4/2;
	overflow-y: scroll;
}

.list {
	background-color: #909090;
	grid-area: 2/2/4/3;
	
	overflow-y: scroll;
	text-align: left;
	box-shadow: inset 0.7vw 0 1vw -0.7vw rgba(5,5,5,0.8), inset 0 0.7vw 1vw -0.7vw rgba(5,5,5,0.8);
}

.list ul {
    padding: 0;
    list-style-type: none;
}

.list li {
	margin: 0 1vw;
	padding: 0 0 0 1.5vw;
	position: relative;
}

.list div {
	display: inline-block;
	overflow: hidden;
	width: 11.5vw;
	font-size: 1.3vw;
}

li.selected {
    background-color: #606060;
	border-radius: 5vh;
	box-shadow: 0.2vw 0.2vw 0.25vw 0vw rgba(80, 80, 80, 0.5);
}

.status {
	border-top: 0.1vw solid;
	border-top-color: #404040;
	padding-top: 1vh;
	height: 3.5vh;
	font-style: italic;
}

#firststatus {
	margin: 1vh 0  0 16.2vw;
	padding-left: 2vw;
}

#kate {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.6vw;
	text-align: right;
	text-transform: uppercase;
	margin: 0 1vw;
	padding-right: 1vw;
	border-right: solid;
	border-right-color: #404040;
}

hr {
	border: none;
	background-color: #404040;
	height: 0.7vh;
}

.information {
	background-color: dimgrey;
	grid-area: 2/3/4/4;
	font-size: 1vw;
	overflow-y: scroll;
	box-shadow: inset 0 0.7vw 1vw -0.7vw rgba(5,5,5,0.8);
}

#ancheck {
	display: grid;
	margin: 0.6vh 0.6vw;
}

#antalsdiv {
	width: 2vw;
	height: 3vh;
	overflow: hidden;
	position: absolute;
}

#aninput {
	height: 3vh;
	width: 1.6vw;
	padding-top: 0.2vh;
	outline: none;
	margin: 0.2vh 0.2vw;
	border-style: none;
	position: absolute;
}

#aninput::placeholder {
	color: #808080;
}

.samlet, .samlet input {
	background-color: #404040;
	border-radius: 0.8vw;
	padding: 0 0 4.5vh 0;
}