@charset "utf-8";

html, body {
	margin: 0;
}

#form {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 4vh 4vh 4vh 4vh; 
	color: black;
}


#first {
	border-style: medium;
	border-color: ;
}
#last {
	border-style: medium;
	border-color: ;
}
#email {
	border-style: medium;
	border-color: ;
}
