html, body {
	margin: 0;
}

.grid {
	text-align: center;
	font-size: 2vw;
	color: white;

	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	grid-template-rows: 15vh 50vh 35vh;
}

.logo {
	background-color: orangered;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.search {
	background-color: coral;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.end {
	background-color: lightsalmon;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.functions {
	background-color: cadetblue;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	text-transform: uppercase;
	font-size: 0.6vw;
}

.shoppinglist {
	background-color: darkorange;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.list {
	background-color: #909090;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: left;
}

.list ul {
	margin-left: -0.6vw;
}

.list li {
	font-size: 1.5vw;
	margin: 2vh 0 4vh 0;
}

#kate {
	display: inline-block;
	overflow: hidden;
	width: 12vw;
	height: 3vh;
	text-align: right;
	text-transform: uppercase;
	margin: 0 1vw 0 ;
	padding-right: 1vw;
	border-right: solid;
	border-right-color: #505050;
}

hr {
	border: none;
	background-color: #404040;
	margin-left: -2vw;
	height: 0.6vh;
}

.information {
	background-color: dimgrey;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}